<div class="row">
  <div class="col-xs-4 col-md-4 col-lg-4">
    <div class="grey-bck">
      <h3>Total:</h3>
      <h1>{{ totalCounter }}</h1>
    </div>
  </div>
  <div class="col-xs-4 col-md-4 col-lg-4">
    <div class="grey-bck">
      <h3>Active:</h3>
      <h1>{{ activeCounter }}</h1>
    </div>
  </div>
  <div class="col-xs-4 col-md-4 col-lg-4">
    <div class="grey-bck">
      <h3>Inactive:</h3>
      <h1>{{ inactiveCounter }}</h1>
    </div>
  </div>
</div>
